form {
    display: flex;
    flex-direction: column;   
    border: 2px solid black;
    padding: 20px;
    
}

input {
    display: block;   
    font-size: 20px;   
    border-radius: 0.1rem;
    border: 1px solid gray;
    border-radius: 4px;  
    margin-top: 5px;
    
    
    
}


form p {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

form>button {
    
    font-size: 14px;
    font-weight: 300;   
    margin-top: 30px;
    padding: 5px;
    border: 1px solid black;   
    cursor: pointer;    
    border-radius: 15px;
    transition-duration: 300ms;
    background-color: #fff;
    width: 100px;
    margin-left: 80px;
}

form>button:hover {
    transform: scale(1.1);
    
}