ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

div {
    display: flex;
    
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

h3 {
    display: flex;
font-size: 20px;
    font-weight: 500;
    margin-right: 10px;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    margin-right: 10px;
}

li>button {
    font-size: 14px;
    font-weight: 600;    
    border: 1px solid black;    
    cursor: pointer;    
    border-radius: 5px;
    transition-duration: 400ms;
    background-color: #fff;
}

li>button:hover {
    transform: scale(1.1);
    
}